@font-face {
    font-family: Kabel;
    src: url('../Fonts/Kabel-Black.otf');
}
  

.playerName1{
    height: 75px;
    width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.teamName1{
    height: 75px;
    width: 275px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
  
}

.jerseyNumber1{
    height: 50px;
    width: 50px;
    position: absolute;
  
}

.jerseyNumber1, .teamName1,.playerName1, .teamImage1{
    background-color: #000000;
}

.playerFont1, .teamFont1, .jerseyFont1{
    font-family: kabel;
   margin: 0%;
    font-size: 30px;
    color: white;
}

.teamFont1{
    position: relative;
}

.playerImage1{
    height: 400px;
    width: 400px;
    position: absolute;
    z-index: -1;
}

.teamImage1{
    height: 150px;
    width: 125px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000000;
}

.teamImgTag1{
    height: 150px;
    width: 125px;
    background-color: transparent;
}


.cardLayout1{
    height: 550px;
    width: 400px;
    margin-left: 100px;
    border: black;
    border-style: solid;
    display: flex;
    flex-direction: column;
}

.RankingDiv1{
    height: 400px;
    width: 400px;
    position: relative;
    background-color: white;
    z-index: 0;
}

.TeamPlayerImage1{
    height: 150px;
    width: 400px;
    display: flex;
    flex-direction: row;
}
.TeamPlayerInfo1{
    height: 150px;
    width: 300px;
    display: flex;
    flex-direction: column;
}


