.Last-Games-Stats{
    width: fit-content;
    height: fit-content;
    margin-right: 2.5%;
    margin-left: 2%;
    
}

.Last-Games-Table-Header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    background-color: var(--table-accent);
    width: max-content;
}
.Last-Games-Table-Header-Span{
    color: var(--text-color);
    font-size: 1.25em;
    font-weight: 700;
    text-align: left;
    /* opacity: var(--text-opacity); */
}

.Last-Games-Table-Header-Span-Div{
    height: 50px;
    width: 70px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    
}

.Last-Games-Table-Team-Header-Span-Div{
    height: 50px;
    width: 200px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.Last-Games-Table-Row{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    background-color: var(--table-main);
    width: max-content;
    border-bottom: 1px solid var(--separator-color);
}

.Last-Games-Table-Row-Highlight-Span{
    color: var(--text-color);
    font-size: 1em;
    font-weight: 700;
    text-align: left;
    /* opacity: var(--text-opacity); */
    
}

.Last-Games-Table-Row-Highlight-Div{
    height: 50px;
    width: 70px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: var(--table-main);
}

.Last-Games-Table-Row-Highlight-Team-Div{
    height: 50px;
    width: 200px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: var(--table-main);
}

.Last-Games-Table-Row-Span{
    color: var(--text-color);
    font-size: 1em;
    font-weight: 700;
    text-align: left;
    /* opacity: var(--text-opacity); */
}

.Last-Games-Table-Row-Span-Div{
    height: 50px;
    width: 70px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    
}

.Last-Games-Stats::-webkit-scrollbar {
    background: transparent; /* Chrome/Safari/Webkit */
    width: 0px;
  }

@media screen and (max-width: 1100px){
    .Last-Games-Stats{
        margin-right: 0.5%;
        margin-left: 0.5%;
    }
}