.Player-Stats{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.Stats {
    color: var(--text-color);
    opacity: var(--text-opacity);
}

.Player-Stats-Row{
    color:var(--text-color);
    opacity: var(--text-opacity);
    font-size: clamp(0.5rem, 0.2143rem + 1.4286vw, 2.5rem);
    outline:none;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

/* .Player-Stats-Row-Name-Div{
    margin-right: 10%;
} */

.Player-Stats-Table{
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

.Player-Stats-Table li {
    list-style-type: none;
    margin: 2.5% 0% 2.5% 0% ;
 
}

.Stat{
    
    float:inline-end;
}

.First-Name{
  float: inline-start;
  margin: 0 1.5% 0 1.5%;
}

.Last-Name{
    float: inline-start;
    margin: 0 5% 0 1.5%;
  }

.Player-Stats-Row-Active{
    color:var(--text-color);
    opacity: var(--text-opacity);
    font-weight: 700;
    font-size: clamp(0.5rem, 0.2143rem + 1.4286vw, 2.5rem);
    outline:none;
}

.Individual-Stats-Container{
    width: 50%;
    height: 100%;
    margin: 5% 10% 0 0;
}

.Total-Stats-Container{
    width: 50%;
    height: 100%;;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.Individual-Picture-Container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 25%;
}

.Individual-Name-Container{
    width: 100%;
    height: min-content;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    margin-bottom: 5%;

}

.Individual-Team-Name-Container{
    width: 100%;
    height: min-content;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    margin-bottom: 5%;
}

.Individual-Value-Container{
    width: 100%;
    height: 15%;
    height: min-content;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
}


.Picture-Tag{
    clip-path: circle();
    object-fit: contain;
    height: 75%;
    width: 75%;
}

.Jersey-Number{
    margin: 0;
    font-size: clamp(1rem, 0.5714rem + 2.1429vw, 4rem);
    color: var(--text-color);
    opacity: var(--text-opacity);
    float: right;
}

.Jersey-Number-Container{
    width: 50%;
    height: min-content;
    padding-right: 2.5%;
}

.Player-Name-Container{
    width: 50%;
    height: min-content;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 2.5%;
    justify-content: center;
    font-size: clamp(0.5rem, 0.2143rem + 1.4286vw, 2.5rem);
    color: var(--text-color);
    opacity: var(--text-opacity);
    border-left: 1px solid var(--separator-color);
    cursor: pointer;
}

.Team-Name-Container{
    padding-right: 2.5%;
    width: max-content;
    height: min-content;
}

.Position-Container{
    padding-left: 2.5%;
    width: min-content;
    height: min-content;
    border-left: 1px solid var(--separator-color);
}

.Team-Name{
    margin: 0;
    font-size: clamp(0.75rem, 0.6000rem + 0.7500vw, 3rem);
    color: var(--text-color);
    opacity: var(--text-opacity);
    float: right;
    
}

.Position{
    margin: 0;
    font-size: clamp(0.75rem, 0.6000rem + 0.7500vw, 3rem);
    color: var(--text-color);
    opacity: var(--text-opacity);
    float: left;
}

.Stat-Container{
    width: min-content;
    height: min-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.Stat-Type{
    font-size: clamp(0.75rem, 0.6000rem + 0.7500vw, 3rem);
    color: var(--text-color);
    opacity: var(--text-opacity);
}

.Stat-Value{
    font-size: clamp(2rem, 1.7333rem + 1.3333vw, 6rem);
    color: var(--text-color);
    font-weight: 800;
    opacity: var(--text-opacity);
}

@media screen and (max-width: 1000px){
    .Player-Stats-Row-Name-Div{
        width: 50%;
    }
   
}
@media screen and (max-width: 970px){
    
    .Jersey-Number-Container{
        width: min-content;
    }
    .Individual-Stats-Container{
        padding: 0;
    }
}


@media screen and (max-width: 730px){
    .Total-Stats-Container{
        overflow: hidden;
        overflow-y: scroll;
        margin: 0 2% 0 0;
    }
    .Individual-Stats-Container{
        padding: 0 5% 0 0 ;
    }
    .Player-Stats-Row{
        font-size: clamp(0.5rem, -0.2805rem + 3.9024vw, 1.5rem);
    }
    .Player-Stats-Row-Active{
        font-size: clamp(0.5rem, -0.2805rem + 3.9024vw, 1.5rem);
    }
    
}

@media screen and (max-width: 420px){
    
    .Jersey-Number-Container{
        width: min-content;
    }
    .Individual-Stats-Container{
        padding: 0;
    }
}
