.Leaders-Container{
    height: min-content;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.Leaders-Title{
    height: max-content;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
    margin: 5% 0 0 0;
}

.Leaders-Title h1 {
    color: white;
    font-weight: bolder;
    margin: 0;
}

.Leaders-Title:focus-within{
    border: 1px solid grey;
}

.Leaders-Selection-Container{
    height: max-content;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-end;
    flex-grow: 1;
    border-bottom: 1px solid white;
    /* padding-bottom: 1.3%; */
}

.Leaders-Selection-Container:focus-within{
    border: 1px solid grey;
}

.Leaders-Stats-Container{
    height: max-content;
    width: 100%;
}

.toggleArrowLeft :hover,.toggleArrowRight :hover {
    color: #0088df;
    cursor: pointer;

}

.toggleArrowLeft, .toggleArrowRight {
    
    margin: 0 4% 1% 4%;
}

.toggleArrowLeft :focus-within,.toggleArrowRight :focus-within {
    color: #0088df;
    cursor: pointer;

}


.Stat-Select-1, .Stat-Select-2, .Stat-Select-3{
    color: white;
    margin: 2.5% 0 0 5%;
    font-size: 1.25em;
    font-weight: 600;
    cursor: pointer;
}

.Stat-Select-1-Active, .Stat-Select-2-Active, .Stat-Select-3-Active{
    color: #0088df;
    margin: 2.5% 0 0 5%;
    border-bottom: 5px solid #0088df;
    font-weight: 800;
    cursor: default;
    font-size: 1.25em;
}

.Stat-Select-1:hover, .Stat-Select-2:hover, .Stat-Select-3:hover{
    color: #0088df;
    font-weight: 800;
    cursor: pointer;
    font-size: 1.25em;
  
}

.Player-Position-Type{
    font-size: 2em;
    font-weight: 700;
    color: white;
}

@media screen and (max-width: 730px){
    .Leaders-Container{
        height: max-content;
    }
    .Stat-Select-1-Active, .Stat-Select-2-Active, .Stat-Select-3-Active{
        
        height: min-content;
    }
  
    
}


