.NavBar-Container{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: min-content;
    background-color: #242526;
}

.Logo{
    width: 50%;
    height: 100%;
    background-color: #242526;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}
.NavBar-Links{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content:flex-end;
    align-items: center;
    background-color: #242526;
    padding-right: 5%;

}

.H2-Logo{
    margin-left: 5% ;
    color:white;
}

.NHL-Icon, .LIIGA-Icon, .SHL-Icon{
    height: 100%;
    width: 200px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.H2-NHL, .H2-LIIGA, .H2-SHL{
    margin: 50%;
    color: white;
}

@media screen and (max-width: 440px){
    .H2-Logo{
        font-size: 1.3em;
    }
}