.NavBar-Container{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: min-content;
    background-color: var(--accent-color);;
}

.Logo{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}
.NavBar-Links{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content:flex-end;
    align-items: center;
    padding-right: 5%;
    outline: none;
}

.H2-Logo{
    margin-left: 5% ;
    color:var(--text-color);
    opacity: var(--text-opacity);
    outline: none;
}


.Sunny-Icon, .Moon-Icon{
    cursor: pointer;
    outline: none;
}



.Sunny-Icon :hover{
 color: #FDB813;
}
.Moon-Icon :hover{
    color: #351AF2;
}

@media screen and (max-width: 440px){
    .H2-Logo{
        font-size: 1.3em;
    }
}