@font-face {
    font-family: Kabel;
    src: url('../Fonts/Kabel-Black.otf');
}
  

.playerName{
    height: 75px;
    width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.teamName{
    height: 75px;
    width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
  
}

.jerseyNumber{
    height: 50px;
    width: 50px;
    position: absolute;
  
}

.jerseyNumber, .teamName,.playerName, .teamImage{
    background-color: #006478;
}

.playerFont, .teamFont, .jerseyFont{
    font-family: kabel;
   margin: 0%;
    font-size: 30px;
    color: white;
}

.teamFont{
    position: relative;
}

.playerImage{
    height: 400px;
    width: 400px;
    position: absolute;
    z-index: -1;
}

.teamImage{
    height: 150px;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.teamImgTag{
    height: 100px;
    width: 100px;
}

.playerImgTag{
    max-width: 100%;
    max-height: 100%;
}

.playerImgTag{
    position: relative;
}

.cardLayout{
    height: 550px;
    width: 400px;
    margin-left: 100px;
    border: black;
    border-style: solid;
    display: flex;
    flex-direction: column;
}

.ImageJersey{
    height: 400px;
    width: 400px;
    position: relative;
}

.TeamPlayerImage{
    height: 150px;
    width: 400px;
    display: flex;
    flex-direction: row;
}
.TeamPlayerInfo{
    height: 150px;
    width: 300px;
    display: flex;
    flex-direction: column;
}


