.Team-Standings-Container{
    margin: 5%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    height: min-content;
    background-color: var(--accent-color);
}

.Team-Standings-Title{
    height: 10%;
    border-bottom: 1px solid var(--separator-color);
    opacity: var(--text-opacity);
}

.Division-Container{
    height: 8%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    border-bottom: 1px solid var(--separator-color);
}

/* .Division-Container:focus-within{
    border: 1px solid grey;
} */

.Standings-Table{
    height: max-content;
    width: 100%;
    display: flex;
    flex-direction: column;
    color: var(--text-color);
    opacity: var(--text-opacity);
    font-size: large;
    border-bottom: 1px solid var(--separator-color);
    margin-top: 2%;
    margin-bottom: 1%;
    overflow-x: auto;
    flex:none;
    
}

.Standings-Row{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    flex: none;
    
}

.Standings-Data{
    /* min-width: 12%;
    max-width: 12%; */
    width: 15%;
    height: fit-content;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex: none;
    margin: 0% 0.5% 1.5% 0.5%;
}

.Standings-Data-Team{
    margin: 0% 0.5% 1.5% 0.5%;
    /* max-width: 15%; */
    /* min-width: 15%; */
    width: 17.5%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex: none;
    height: fit-content;
    font-size: 0.8em;
}
.Standings-Data-Title{
    margin: 0% 0.5% 1.5% 0.5%;
    /* min-width: 12%;
    max-width: 12%; */
    width: 15%;
    height: fit-content;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex: none;
    font-weight: 700;
}
.Standings-Data-Team-Title{
    margin: 0% 0.5% 1.5% 0.5%;
    /* min-width: 15%;
    max-width: 15%; */
    width: 17.5%;;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex: none;
    height: fit-content;
    font-weight: 700;
}

.H1-TeamStandings{
    color: var(--text-color);
    opacity: var(--text-opacity);
}

.Atlantic, .Metropolitan, .Central, .Pacific{
    color: var(--text-color);
    opacity: var(--text-opacity);
    cursor: pointer;
}

.Atlantic-Active{
    color: #01c3d7;
    border-bottom: 5px solid #01c3d7;
    cursor: default;
}

.Metropolitan-Active{
    color: #ff8200;
    border-bottom: 5px solid #ff8200;
    cursor: default;
}

.Central-Active{
    color: #fba5d9;
    border-bottom: 5px solid #fba5d9;
    cursor: default;
}
.Pacific-Active{
    color: #00cc7a;
    border-bottom: 5px solid #00cc7a;
    cursor: default;
}

.Atlantic :hover{
    color: #01c3d7;
    cursor: pointer;
}

.Metropolitan :hover {
    color: #ff8200;
    cursor: pointer;
}

.Central :hover {
    color: #fba5d9;
    cursor: pointer;
}

.Pacific :hover {
    color: #00cc7a;
    cursor: pointer;
}

table{
    border-collapse: separate;
    border-spacing: 0 15px;


}

.Legend{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top:0;
    
}

.Legend-Title{
    width: 100%;
    height: 20%;
    color: var(--text-color);
    border-bottom: 1px solid var(--separator-color);
    opacity: var(--text-opacity);
    padding-bottom: 1%;
    font-size: clamp(0.8rem, 0.7286rem + 0.3571vw, 1.3rem);
}
.Legend-Title h4{
    float: left;
    padding-left: 2%;
    margin: 0%;
}

.Legend-Description{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-grow: 1;
    padding-top: 2%;
}

.Legend-Acronym, .Legend-Acronym-Description{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}

.Legend-Acronym p{
    font-weight: bold;
}

.Legend-Acronym-Description {
    margin-left: 10%;
}

.Legend-Acronym p, .Legend-Acronym-Description p{
    margin: 0%;
    color: var(--text-color);
    opacity: var(--text-opacity);
    font-size: clamp(0.5rem, 0.4214rem + 0.3929vw, 1.05rem);
    float: left;
}

/* @media screen and (min-width: 1600px){
    .Standings-Data-Title{
        width: 72px;
        font-size: 1.25em;
    }
    .Standings-Data{
        width: 72px;
        font-size: 1.25em;
    }
    .Standings-Data-Team{
        font-size: 1em;
    }
}
@media screen and (min-width: 1800px){
    .Standings-Data-Title{
        width: 82px;
        font-size: 1.25em;
    }
    .Standings-Data{
        width: 82px;
        font-size: 1.25em;
    }
    .Standings-Data-Team{
        font-size: 1em;
    }
} */