.logo{
    outline:none;
    height: 100px;
    width: 100px;
    opacity: 25%;
    background: none;
    border: 0;
}

.logo img{
    object-fit: cover;
    height: inherit;
    width: inherit;
}

.logo:focus{
    opacity: 100%;
    cursor: pointer;
}

.logo:focus-within{
    opacity: 100%;
}

.logo:hover{
 opacity: 100%;
 cursor: pointer;
}

.Team-Logo-Container{
    
    overflow-y: scroll;
    scrollbar-width: none;
    margin-top: 1%;
    margin-bottom: 1%;
    height: min-content;
}


::-webkit-scrollbar {
    width: 0px;
    background: transparent; /* make scrollbar transparent */
}


@media screen and (max-width: 930px){
    .logo{
        height: 75px;
        width: 75px;
    }
}

@media screen and (max-width: 694px){
    .logo{
        height: 60px;
        width: 60px;
    }
}

@media screen and (max-width: 730px){
    .Team-Logo-Container{
        display: flex;
        overflow-x: auto;
        overflow-y:hidden;
        height: 100px !important;
        width: 100%;
        scrollbar-width: none;
        flex: none;

    }
    .logo{
        flex: none;
        height: 100px;
        width: 100px;
    }

}
